
<!DOCTYPE html>
<html class='no-js' lang='fr'>
	<head>
		<meta charset='utf-8' />
		<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
        <title>Index_Activités</title>
        <style class="cp-pen-styles">@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");</style>
		<link rel="stylesheet" type="text/css" href="css/HangArt_index.css" charset="utf-8">
	</head>

<body>
<!-- Best on mobile with Gesture -->

<div class="container_activites" id="mobile_control">
  <div class="menu">
    <span class="close"><i class="material-icons">close</i></span>
  </div>
  <div class="carousel_activites">
    <div class="info_back">
      <h1>LesMills</h1>
    </div>
    <div class="citem active" id="p0">
      <h1>Présentation</h1>
      <p>
      Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet Graecis nominibus appellentur, quae isdem ad arbitrium inposita sunt conditoris, primigenia tamen nomina non amittunt, quae eis Assyria lingua institutores veteres indiderunt.<br><br>

Eodem tempore Serenianus ex duce, cuius ignavia populatam in Phoenice Celsen ante rettulimus, pulsatae maiestatis imperii reus iure postulatus ac lege, incertum qua potuit suffragatione absolvi, aperte convictus familiarem suum cum pileo, quo caput operiebat, incantato vetitis artibus ad templum misisse fatidicum, quaeritatum expresse an ei firmum portenderetur imperium, ut cupiebat, et cunctum.<br><br>

Sed quid est quod in hac causa maxime homines admirentur et reprehendant meum consilium, cum ego idem antea multa decreverim, que magis ad hominis dignitatem quam ad rei publicae necessitatem pertinerent? Supplicationem quindecim dierum decrevi sententia mea. Rei publicae satis erat tot dierum quot C. Mario ; dis immortalibus non erat exigua eadem gratulatio quae ex maximis bellis. Ergo ille cumulus dierum hominis est dignitati tributus.
      </p>
    </div>
    
    <div class="citem" id="p1">
      <h1>Présentation</h1>
      <p>
Hae duae provinciae bello quondam piratico catervis mixtae praedonum a Servilio pro consule missae sub iugum factae sunt vectigales. et hae quidem regiones velut in prominenti terrarum lingua positae ob orbe eoo monte Amano disparantur.<br><br>

Victus universis caro ferina est lactisque abundans copia qua sustentantur, et herbae multiplices et siquae alites capi per aucupium possint, et plerosque mos vidimus frumenti usum et vini penitus ignorantes.<br><br>

Duplexque isdem diebus acciderat malum, quod et Theophilum insontem atrox interceperat casus, et Serenianus dignus exsecratione cunctorum, innoxius, modo non reclamante publico vigore, discessit.
      </p>
    </div>
    
    <div class="citem" id="p2">
      <h1>Présentation</h1>
      <p>
Victus universis caro ferina est lactisque abundans copia qua sustentantur, et herbae multiplices et siquae alites capi per aucupium possint, et plerosque mos vidimus frumenti usum et vini penitus ignorantes.<br><br>

Victus universis caro ferina est lactisque abundans copia qua sustentantur, et herbae multiplices et siquae alites capi per aucupium possint, et plerosque mos vidimus frumenti usum et vini penitus ignorantes.<br><br>

Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.<br><br>

Duplexque isdem diebus acciderat malum, quod et Theophilum insontem atrox interceperat casus, et Serenianus dignus exsecratione cunctorum, innoxius, modo non reclamante publico vigore, discessit.<br><br>

Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso cum dimicationum curulium eventu pendentem. haec similiaque memorabile nihil vel serium agi Romae permittunt. ergo redeundum ad textum.
      </p>
    </div>
    
    <div class="citem" id="p3">
            <h1>Présentation</h1>
      <p>
Tempore quo primis auspiciis in mundanum fulgorem surgeret victura dum erunt homines Roma, ut augeretur sublimibus incrementis, foedere pacis aeternae Virtus convenit atque Fortuna plerumque dissidentes, quarum si altera defuisset, ad perfectam non venerat summitatem.<br><br>

Post hanc adclinis Libano monti Phoenice, regio plena gratiarum et tatis, urbibus decorata magnis et pulchris; in quibus amoenitate celebritateque nominum Tyros excellit, Sidon et Berytus isdemque pares Emissa et Damascus saeculis condita priscis.
<br><br>
Et prima post Osdroenam quam, ut dictum est, ab hac descriptione discrevimus, Commagena, nunc Euphratensis, clementer adsurgit, Hierapoli, vetere Nino et Samosata civitatibus amplis inlustris.
      </p>
    </div>
    
    <div class="citem" id="p4">
      <h1>Présentation</h1>
      <p>
Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem, si nulla res impediat, nemo est, quin eo, quo consuevit, libentius utatur quam intractato et novo. Nec vero in hoc quod est animal, sed in iis etiam quae sunt inanima, consuetudo valet, cum locis ipsis delectemur, montuosis etiam et silvestribus, in quibus diutius commorati sumus.<br><br>

Ciliciam vero, quae Cydno amni exultat, Tarsus nobilitat, urbs perspicabilis hanc condidisse Perseus memoratur, Iovis filius et Danaes, vel certe ex Aethiopia profectus Sandan quidam nomine vir opulentus et nobilis et Anazarbus auctoris vocabulum referens, et Mopsuestia vatis illius domicilium Mopsi, quem a conmilitio Argonautarum cum aureo vellere direpto redirent, errore abstractum delatumque ad Africae litus mors repentina consumpsit, et ex eo cespite punico tecti manes eius heroici dolorum varietati medentur plerumque sospitales.
      </p>
    </div>
    
    <div class="citem" id="p5">
      <h1>Présentation</h1>
      <p>Per hoc minui studium suum existimans Paulus, ut erat in conplicandis negotiis artifex dirus, unde ei Catenae inditum est cognomentum, vicarium ipsum eos quibus praeerat adhuc defensantem ad sortem periculorum communium traxit. et instabat ut eum quoque cum tribunis et aliis pluribus ad comitatum imperatoris vinctum perduceret: quo percitus ille exitio urgente abrupto ferro eundem adoritur Paulum. et quia languente dextera, letaliter ferire non potuit, iam districtum mucronem in proprium latus inpegit. hocque deformi genere mortis excessit e vita iustissimus rector ausus miserabiles casus levare multorum.<br>
      	<ul>
		<li>Haec igitur prima lex amicitiae sanciatur, ut ab</li>
		<li>Sed si ille hac tam eximia fortuna propter</li>
		<li>Sed maximum est in amicitia parem esse inferiori.</li>
		<li>Haec igitur prima lex amicitiae sanciatur, ut ab</li>
		<li>Et quia Montius inter dilancinantium manus</li>
		</ul>
<br>

Restabat ut Caesar post haec properaret accitus et abstergendae causa suspicionis sororem suam, eius uxorem, Constantius ad se tandem desideratam venire multis fictisque blanditiis hortabatur. quae licet ambigeret metuens saepe cruentum, spe tamen quod eum lenire poterit ut germanum profecta, cum Bithyniam introisset, in statione quae Caenos Gallicanos appellatur, absumpta est vi febrium repentina. cuius post obitum maritus contemplans cecidisse fiduciam qua se fultum existimabat, anxia cogitatione, quid moliretur haerebat.
      </p>
    </div>
    
    <div class="citem" id="p6">
      <h1>Présentation</h1>
Cognitis enim pilatorum caesorumque funeribus nemo deinde ad has stationes appulit navem, sed ut Scironis praerupta letalia declinantes litoribus Cypriis contigui navigabant, quae Isauriae scopulis sunt controversa.<br><br>

Ego vero sic intellego, Patres conscripti, nos hoc tempore in provinciis decernendis perpetuae pacis habere oportere rationem. Nam quis hoc non sentit omnia alia esse nobis vacua ab omni periculo atque etiam suspicione belli?<br><br>

Sed si ille hac tam eximia fortuna propter utilitatem rei publicae frui non properat, ut omnia illa conficiat, quid ego, senator, facere debeo, quem, etiamsi ille aliud vellet, rei publicae consulere oporteret?<br><br>

Hae duae provinciae bello quondam piratico catervis mixtae praedonum a Servilio pro consule missae sub iugum factae sunt vectigales. et hae quidem regiones velut in prominenti terrarum lingua positae ob orbe eoo monte Amano disparantur.<br><br>

Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.      </p>
    </div>
    
    <div class="citem" id="p7">
      <h1>Présentation</h1>
      <p> Latius iam disseminata licentia onerosus bonis omnibus Caesar nullum post haec adhibens modum orientis latera cuncta vexabat nec honoratis parcens nec urbium primatibus nec plebeiis.<br><br>

Quam ob rem id primum videamus, si placet, quatenus amor in amicitia progredi debeat. Numne, si Coriolanus habuit amicos, ferre contra patriam arma illi cum Coriolano debuerunt? num Vecellinum amici regnum adpetentem, num Maelium debuerunt iuvare?<br><br>

Hae duae provinciae bello quondam piratico catervis mixtae praedonum a Servilio pro consule missae sub iugum factae sunt vectigales. et hae quidem regiones velut in prominenti terrarum lingua positae ob orbe eoo monte Amano disparantur. 
      </p>
    </div>
    
    <div class="citem" id="p8">
      <h1>Présentation</h1>
      <p> Cognitis enim pilatorum caesorumque funeribus nemo deinde ad has stationes appulit navem, sed ut Scironis praerupta letalia declinantes litoribus Cypriis contigui navigabant, quae Isauriae scopulis sunt controversa.<br><br>

Montius nos tumore inusitato quodam et novo ut rebellis et maiestati recalcitrantes Augustae per haec quae strepit incusat iratus nimirum quod contumacem praefectum, quid rerum ordo postulat ignorare dissimulantem formidine tenus iusserim custodiri.</p><br>
	<ul>
		<li>Quam ob rem circumspecta cautela observatum est</li>
		<li>Denique Antiochensis ordinis vertices sub uno</li>
		<li>Cumque pertinacius ut legum gnarus accusatorem</li>
		<li>Haec et huius modi quaedam innumerabilia ultrix</li>
		<li>Et eodem impetu Domitianum praecipitem per scalas</li>
		<li>Eo adducta re per Isauriam, rege Persarum bellis</li>
		<li>Altera sententia est, quae definit amicitiam</li>
		<li>His cognitis Gallus ut serpens adpetitus telo vel</li>
		<li>Cum haec taliaque sollicitas eius aures</li>
		<li>Itaque tum Scaevola cum in eam ipsam mentionem</li>
		</ul>

    </div>

  </div>
  <div class="content">
    <h1 class="title">LesMills</h1>
    <div class="helmet">
      <img ondragstart="return false;" src="images/cadre_activites-1.png"/>
      <div class="activite_position">
<!--        <div class="activite_shadow"></div>	-->
        <div class="activite_photo"></div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="nav">
      <span id="next" class="action"><i class="material-icons">keyboard_arrow_left</i></span>
      <span id="prev" class="action"><i class="material-icons">keyboard_arrow_right</i></span>
    </div>
    <div class="orbit">
      <div class="activite_container_activites">
        <div class="activite pt lesmills" id="pl0">
<!--          <div class="point_ellipse">
            <span></span>
          </div>	-->
        </div>
        <div class="activite taichi" id="pl1">
<!--          <div class="point_ellipse">
            <span></span>
            <span></span>
          </div>		-->
        </div>
        <div class="activite judo" id="pl2"></div>
        <div class="activite artmartiaux" id="pl3">
<!--          <div class="ring"></div>	-->
        </div>
        <div class="activite hiphop" id="pl4"></div>
        <div class="activite enfants" id="pl5"></div>
        <div class="activite dansecouple" id="pl6"></div>
        <div class="activite bikegym" id="pl7"></div>
        <div class="activite fitness" id="pl8"></div>
      </div>
      <div class="name_container_activites">
        <p class="pn">LesMills</p>
        <p class="more">Présentation</p>
      </div>
    </div>
  </div>
</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js'></script>
<script >//ISPIRATION: https://www.uplabs.com/posts/xore-solar-system
//Full page simoberny.it
//Best on mobile

/* Inizializzazione HammerJS */
var element = document.getElementById('mobile_control');
var hammertime = new Hammer(element);

var swiped_top = false;

hammertime.get('swipe').set({ direction: Hammer.DIRECTION_ALL });
hammertime.on('swipeleft', function(ev) {
  cmove("prev");
});
hammertime.on('swiperight', function(ev) {
  cmove("next");
});
hammertime.on('swipeup', function(ev) {
  swiped_top = true;
  openmodal();
});
hammertime.on('swipedown', function(ev) {
  closemodal();
});
/* * * * * * * * * */

$(".action").on("click", function(){
  cmove($(this).attr('id'));
});

$('.title').each(function(){
  $(this).html("lesmills".replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
});


anime.timeline({})
.add({
  targets: '.title',
  opacity: [0,1],
  easing: "easeOutExpo",
  duration: 100
})
.add({
  targets: '.title .letter',
  translateX: [40,0],
  translateZ: 0,
  opacity: [0,1],
  easing: "easeOutExpo",
  duration: 1200,
  delay: function(el, i) {
    return 500 + 30 * i;
  }
});

var angle = 0;
var activite_id = 0;

function cmove(dir){
  var n_activite = 8, next_id;
  var prev, next;
  var top = $("#pl"+ activite_id);
  var orbit = $(".activite_container_activites");
  
  top.removeClass("pt");
  
  if(activite_id == 0){
    prev = $("#pl"+ (n_activite-1));
    next = $("#pl"+ (activite_id+1)%n_activite);
  }else{
    prev = $("#pl"+ (activite_id-1));
    next = $("#pl"+ (activite_id+1)%n_activite);
  }
  
  if(dir == "prev"){
    next_id = (activite_id + 1) % n_activite;
    angle -= 45;
    next.addClass("pt");
    activite_id++;
  }else{
    if(activite_id == 0){
      next_id = 7;
      activite_id = 7;
    }else{
      next_id = activite_id-1;
      --activite_id;
    }
    angle += 45;
    prev.addClass("pt");
  }
  
  $(".active").removeClass("active");
  $("#p" + activite_id).addClass("active");
  $(".info_back h1").text(activite[next_id]);
  
  if(swiped_top){
    $('.info_back h1').each(function(){
      $(this).html(activite[activite_id].replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
    });
    
    anime.timeline({})
    .add({
      targets: '.info_back h1',
      opacity: [0,1],
      easing: "easeOutExpo",
      duration: 100
    })
    .add({
      targets: '.info_back h1 .letter',
      translateX: [40,0],
      translateZ: 0,
      opacity: [0,1],
      easing: "easeOutExpo",
      duration: 1200,
      delay: function(el, i) {
        return 500 + 30 * i;
      }
    });
  }
  
  $('.title').each(function(){
    $(this).html(activite[next_id].replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
  });
  
  anime.timeline({})
  .add({
    targets: '.title .letter',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1200,
    delay: function(el, i) {
      return 500 + 30 * i;
    }
  });
  
  $('.pn').each(function(){
    $(this).html(activite[next_id].replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
  });
  
  anime.timeline({})
  .add({
    targets: '.pn .letter',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1200,
    delay: function(el, i) {
      return 500 + 30 * i;
    }
  });
  
  var ani_dir = (dir == "next") ? "0%" : "100%";
  
  anime.timeline({})
  .add({
    targets: '.activite_photo',
    backgroundPosition: ['50% 50%', ani_dir + ' -85%'],
    opacity: {
      value: [1,0]
    },
    duration: 700,
    easing: 'easeOutQuad',
    complete: function(anim){
      $(".activite_photo").css("background-image", "url(" + photo_activite[next_id] +")"); 
    }
  })
  .add({
    targets: '.activite_photo',
    backgroundPosition: ['0% -85%', '50% 50%'],
    opacity: [0.2,1],
    duration: 500,
    easing: 'easeOutQuad'
  });
  
  $(".info_back").css("background-image", "url(" + photo_activite[next_id] +")");
  orbit.css("transform", "rotateZ(" + angle + "deg)");
}

$("#open_menu").on("click", function(){
  $(".menu").show();
});

$(".close").on("click", function(){
  $(".menu").hide();
});

$(".more").on("click", function(){
  swiped_top = true;
  openmodal();
});

function openmodal(){
  anime.timeline({})
  .add({
    targets: '.carousel_activites',
    translateY: ["100%", 0],
    duration: 600,
    easing: 'easeOutQuad',
  });
  
    $('.info_back h1').each(function(){
      $(this).html(activite[activite_id].replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
    });
    
    anime.timeline({})
    .add({
      targets: '.info_back h1',
      opacity: [0,1],
      easing: "easeOutExpo",
      duration: 100
    })
    .add({
      targets: '.info_back h1 .letter',
      translateX: [40,0],
      translateZ: 0,
      opacity: [0,1],
      easing: "easeOutExpo",
      duration: 1200,
      delay: function(el, i) {
        return 500 + 30 * i;
      }
    });
}

function closemodal(){
  if(swiped_top){
    anime.timeline({})
    .add({
      targets: '.carousel_activites',
      translateY: [0, "100%"],
      duration: 600,
      easing: 'easeOutQuad',
    });
    swiped_top = false;
  }
}

var photo_activite = [
"images/Fitness.jpg", 
"images/bike-gym.jpg", 
"images/Danse-de-couples.jpg", 
"images/Enfants.jpg", 
"images/hip-hop.jpg", 
"images/Arts-Martiaux.jpg", 
"images/Judo.jpg", 
"images/Tai-Chi-Chuan.jpg", 
"images/LesMills.jpg"] 
;
var activite = ["LesMills", "Bike-Gym", "Danses Couple", "Danse Enfants", "Hip Hop", "Arts Martiaux", "Judo", "Tai Chi Chuan", "Fitness"];
//# sourceURL=pen.js
</script>
</body></html>